<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connect_Database.Properties.Settings.testC_ConnectionString"
            connectionString="Data Source=DESKTOP-TFACJ9R\SQLEXPRESS;Initial Catalog=testC#;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>